body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(230, 230, 230);
}

.grid {
	display: flex;
	width: 70rem;
    height: 70rem;
	flex-flow: row wrap;
	background-color: white;
	box-shadow: 5px 5px 5px rgb(172, 172, 172);
}
